@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

.alsoLIke::-webkit-scrollbar {
    display: none;
}